html, body {
  height: 100%;
  margin-bottom: 10;
  padding: 0;
}
#map {
  height: 100%;
}
#searchBox {
  height: 100%;
  width: 100%;
  position: absolute;
}

.search-nav{
  margin-top: 2%;
  margin-left: 50%;
  width: 100%;
}

.red{
  background-color: rgb(178, 34, 34);
  border-radius: 0px;
}

.navbar-nav > li > a {
  color: white;
}

.navbar-brand{
  color: white;
}
